body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1406px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20732 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u20733 {
  position:absolute;
  left:177px;
  top:101px;
  width:375px;
  height:667px;
  opacity:0.4;
}
#u20734 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:247px;
}
#u20735 {
  position:absolute;
  left:178px;
  top:520px;
  width:373px;
  height:247px;
}
#u20736 {
  position:absolute;
  left:2px;
  top:116px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u20737 {
  position:absolute;
  left:179px;
  top:565px;
  width:371px;
  height:1px;
}
#u20738 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5CBFEF;
}
#u20739 {
  position:absolute;
  left:502px;
  top:536px;
  width:29px;
  height:16px;
  color:#5CBFEF;
}
#u20740 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u20741 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u20742 {
  position:absolute;
  left:179px;
  top:644px;
  width:371px;
  height:1px;
}
#u20743 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u20744 {
  position:absolute;
  left:179px;
  top:690px;
  width:371px;
  height:1px;
}
#u20745 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u20746 {
  position:absolute;
  left:290px;
  top:659px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u20747 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u20748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u20748 {
  position:absolute;
  left:412px;
  top:659px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u20749 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u20750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20750 {
  position:absolute;
  left:291px;
  top:697px;
  width:9px;
  height:16px;
  color:#666666;
}
#u20751 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u20752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u20752 {
  position:absolute;
  left:291px;
  top:728px;
  width:8px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u20753 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u20754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20754 {
  position:absolute;
  left:291px;
  top:621px;
  width:9px;
  height:16px;
  color:#666666;
}
#u20755 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u20756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u20756 {
  position:absolute;
  left:291px;
  top:589px;
  width:8px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u20757 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u20758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20758 {
  position:absolute;
  left:421px;
  top:697px;
  width:15px;
  height:16px;
  color:#666666;
}
#u20759 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u20760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
  line-height:36px;
}
#u20760 {
  position:absolute;
  left:196px;
  top:533px;
  width:67px;
  height:22px;
  color:#6B6B6B;
  line-height:36px;
}
#u20761 {
  position:absolute;
  left:0px;
  top:-7px;
  width:67px;
  word-wrap:break-word;
}
#u20762 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u20763 {
  position:absolute;
  left:177px;
  top:101px;
  width:375px;
  height:667px;
  opacity:0.4;
}
#u20764 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:247px;
}
#u20765 {
  position:absolute;
  left:178px;
  top:520px;
  width:373px;
  height:247px;
}
#u20766 {
  position:absolute;
  left:2px;
  top:116px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u20767 {
  position:absolute;
  left:179px;
  top:565px;
  width:371px;
  height:1px;
}
#u20768 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5CBFEF;
}
#u20769 {
  position:absolute;
  left:502px;
  top:536px;
  width:29px;
  height:16px;
  color:#5CBFEF;
}
#u20770 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u20771 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u20772 {
  position:absolute;
  left:179px;
  top:644px;
  width:371px;
  height:1px;
}
#u20773 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u20774 {
  position:absolute;
  left:179px;
  top:690px;
  width:371px;
  height:1px;
}
#u20775 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u20776 {
  position:absolute;
  left:316px;
  top:659px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u20777 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u20778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20778 {
  position:absolute;
  left:329px;
  top:697px;
  width:71px;
  height:16px;
  color:#666666;
}
#u20779 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u20780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u20780 {
  position:absolute;
  left:340px;
  top:728px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u20781 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u20782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20782 {
  position:absolute;
  left:336px;
  top:621px;
  width:57px;
  height:16px;
  color:#666666;
}
#u20783 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u20784 {
  position:absolute;
  left:280px;
  top:589px;
  width:169px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u20785 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u20786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
  line-height:36px;
}
#u20786 {
  position:absolute;
  left:196px;
  top:533px;
  width:67px;
  height:22px;
  color:#6B6B6B;
  line-height:36px;
}
#u20787 {
  position:absolute;
  left:0px;
  top:-7px;
  width:67px;
  word-wrap:break-word;
}
#u20788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(247, 246, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20788 {
  position:absolute;
  left:177px;
  top:101px;
  width:375px;
  height:667px;
}
#u20789 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u20790 {
  position:absolute;
  left:177px;
  top:119px;
  width:375px;
  height:50px;
  font-size:15px;
  color:#FFFFFF;
}
#u20791 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u20792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u20792 {
  position:absolute;
  left:184px;
  top:129px;
  width:32px;
  height:32px;
}
#u20793 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20792_ann {
  position:absolute;
  left:209px;
  top:125px;
  width:1px;
  height:1px;
}
#u20795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u20795 {
  position:absolute;
  left:177px;
  top:101px;
  width:375px;
  height:20px;
}
#u20796 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:16px;
}
#u20797 {
  position:absolute;
  left:188px;
  top:103px;
  width:353px;
  height:16px;
}
#u20798 {
  position:absolute;
  left:2px;
  top:0px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20799 {
  position:absolute;
  left:229px;
  top:218px;
  width:15px;
  height:16px;
}
#u20800 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u20801 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20802 {
  position:absolute;
  left:178px;
  top:200px;
  width:373px;
  height:44px;
}
#u20803 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20804 {
  position:absolute;
  left:324px;
  top:214px;
  width:197px;
  height:16px;
  color:#999999;
}
#u20805 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u20806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
}
#u20806 {
  position:absolute;
  left:527px;
  top:216px;
  width:8px;
  height:12px;
}
#u20807 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20808 {
  position:absolute;
  left:194px;
  top:214px;
  width:29px;
  height:16px;
  color:#666666;
}
#u20809 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u20810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u20810 {
  position:absolute;
  left:194px;
  top:177px;
  width:145px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u20811 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u20812 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20813 {
  position:absolute;
  left:178px;
  top:279px;
  width:373px;
  height:122px;
}
#u20814 {
  position:absolute;
  left:2px;
  top:53px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20815 {
  position:absolute;
  left:193px;
  top:289px;
  width:343px;
  height:27px;
}
#u20815_input {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:27px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20815_ann {
  position:absolute;
  left:529px;
  top:285px;
  width:1px;
  height:1px;
}
#u20816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u20816 {
  position:absolute;
  left:194px;
  top:254px;
  width:145px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u20817 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u20818 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20819 {
  position:absolute;
  left:178px;
  top:435px;
  width:373px;
  height:44px;
}
#u20820 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20821 {
  position:absolute;
  left:194px;
  top:449px;
  width:132px;
  height:16px;
  color:#666666;
}
#u20822 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u20823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20823 {
  position:absolute;
  left:489px;
  top:449px;
  width:32px;
  height:16px;
  color:#999999;
}
#u20824 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u20825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
}
#u20825 {
  position:absolute;
  left:527px;
  top:451px;
  width:8px;
  height:12px;
}
#u20826 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u20827 {
  position:absolute;
  left:194px;
  top:411px;
  width:145px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u20828 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u20829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u20829 {
  position:absolute;
  left:507px;
  top:137px;
  width:45px;
  height:16px;
  color:#FFFFFF;
}
#u20830 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u20829_ann {
  position:absolute;
  left:545px;
  top:133px;
  width:1px;
  height:1px;
}
#u20831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20831 {
  position:absolute;
  left:609px;
  top:200px;
  width:384px;
  height:48px;
}
#u20832 {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  word-wrap:break-word;
}
#u20833 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20834 {
  position:absolute;
  left:609px;
  top:258px;
  width:373px;
  height:44px;
}
#u20835 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20836 {
  position:absolute;
  left:849px;
  top:272px;
  width:99px;
  height:16px;
  color:#999999;
}
#u20837 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u20838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
}
#u20838 {
  position:absolute;
  left:958px;
  top:274px;
  width:8px;
  height:12px;
}
#u20839 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20840 {
  position:absolute;
  left:625px;
  top:272px;
  width:29px;
  height:16px;
  color:#666666;
}
#u20841 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u20842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u20842 {
  position:absolute;
  left:609px;
  top:312px;
  width:170px;
  height:16px;
  font-size:14px;
}
#u20843 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u20844 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:320px;
}
#u20845 {
  position:absolute;
  left:609px;
  top:435px;
  width:375px;
  height:320px;
  opacity:0.4;
}
#u20846 {
  position:absolute;
  left:2px;
  top:152px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:247px;
}
#u20847 {
  position:absolute;
  left:610px;
  top:507px;
  width:373px;
  height:247px;
}
#u20848 {
  position:absolute;
  left:2px;
  top:116px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u20849 {
  position:absolute;
  left:611px;
  top:552px;
  width:371px;
  height:1px;
}
#u20850 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5CBFEF;
}
#u20851 {
  position:absolute;
  left:934px;
  top:523px;
  width:29px;
  height:16px;
  color:#5CBFEF;
}
#u20852 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u20853 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u20854 {
  position:absolute;
  left:611px;
  top:631px;
  width:371px;
  height:1px;
}
#u20855 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u20856 {
  position:absolute;
  left:611px;
  top:677px;
  width:371px;
  height:1px;
}
#u20857 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u20858 {
  position:absolute;
  left:748px;
  top:646px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u20859 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u20860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20860 {
  position:absolute;
  left:761px;
  top:684px;
  width:71px;
  height:16px;
  color:#666666;
}
#u20861 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u20862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u20862 {
  position:absolute;
  left:772px;
  top:715px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u20863 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u20864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20864 {
  position:absolute;
  left:768px;
  top:608px;
  width:57px;
  height:16px;
  color:#666666;
}
#u20865 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u20866 {
  position:absolute;
  left:712px;
  top:576px;
  width:169px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u20867 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u20868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
  line-height:36px;
}
#u20868 {
  position:absolute;
  left:628px;
  top:520px;
  width:67px;
  height:22px;
  color:#6B6B6B;
  line-height:36px;
}
#u20869 {
  position:absolute;
  left:0px;
  top:-7px;
  width:67px;
  word-wrap:break-word;
}
#u20870 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20871 {
  position:absolute;
  left:609px;
  top:338px;
  width:373px;
  height:44px;
}
#u20872 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20873 {
  position:absolute;
  left:755px;
  top:352px;
  width:197px;
  height:16px;
  color:#999999;
}
#u20874 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u20875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
}
#u20875 {
  position:absolute;
  left:958px;
  top:354px;
  width:8px;
  height:12px;
}
#u20876 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20877 {
  position:absolute;
  left:625px;
  top:352px;
  width:29px;
  height:16px;
  color:#666666;
}
#u20878 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u20879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
}
#u20879 {
  position:absolute;
  left:613px;
  top:398px;
  width:141px;
  height:16px;
  font-size:14px;
}
#u20880 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u20881 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:320px;
}
#u20882 {
  position:absolute;
  left:1031px;
  top:435px;
  width:375px;
  height:320px;
  opacity:0.4;
}
#u20883 {
  position:absolute;
  left:2px;
  top:152px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:247px;
}
#u20884 {
  position:absolute;
  left:1032px;
  top:507px;
  width:373px;
  height:247px;
}
#u20885 {
  position:absolute;
  left:2px;
  top:116px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u20886 {
  position:absolute;
  left:1033px;
  top:552px;
  width:371px;
  height:1px;
}
#u20887 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5CBFEF;
}
#u20888 {
  position:absolute;
  left:1356px;
  top:523px;
  width:29px;
  height:16px;
  color:#5CBFEF;
}
#u20889 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u20890 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u20891 {
  position:absolute;
  left:1033px;
  top:631px;
  width:371px;
  height:1px;
}
#u20892 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:2px;
}
#u20893 {
  position:absolute;
  left:1033px;
  top:677px;
  width:371px;
  height:1px;
}
#u20894 {
  position:absolute;
  left:2px;
  top:-8px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u20895 {
  position:absolute;
  left:1144px;
  top:646px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u20896 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u20897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u20897 {
  position:absolute;
  left:1266px;
  top:646px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u20898 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u20899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20899 {
  position:absolute;
  left:1145px;
  top:684px;
  width:9px;
  height:16px;
  color:#666666;
}
#u20900 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u20901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u20901 {
  position:absolute;
  left:1145px;
  top:715px;
  width:8px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u20902 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u20903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20903 {
  position:absolute;
  left:1145px;
  top:608px;
  width:9px;
  height:16px;
  color:#666666;
}
#u20904 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u20905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u20905 {
  position:absolute;
  left:1145px;
  top:576px;
  width:8px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u20906 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u20907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20907 {
  position:absolute;
  left:1275px;
  top:684px;
  width:15px;
  height:16px;
  color:#666666;
}
#u20908 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u20909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
  line-height:36px;
}
#u20909 {
  position:absolute;
  left:1050px;
  top:520px;
  width:67px;
  height:22px;
  color:#6B6B6B;
  line-height:36px;
}
#u20910 {
  position:absolute;
  left:0px;
  top:-7px;
  width:67px;
  word-wrap:break-word;
}
#u20911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20912 {
  position:absolute;
  left:1032px;
  top:258px;
  width:373px;
  height:44px;
}
#u20913 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20914 {
  position:absolute;
  left:1048px;
  top:272px;
  width:132px;
  height:16px;
  color:#666666;
}
#u20915 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u20916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20916 {
  position:absolute;
  left:1293px;
  top:272px;
  width:83px;
  height:16px;
  color:#999999;
}
#u20917 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u20918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
}
#u20918 {
  position:absolute;
  left:1381px;
  top:274px;
  width:8px;
  height:12px;
}
#u20919 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u20920 {
  position:absolute;
  left:1032px;
  top:232px;
  width:85px;
  height:16px;
  font-size:14px;
}
#u20921 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u20922 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20923 {
  position:absolute;
  left:1032px;
  top:338px;
  width:373px;
  height:44px;
}
#u20924 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20925 {
  position:absolute;
  left:1048px;
  top:352px;
  width:132px;
  height:16px;
  color:#666666;
}
#u20926 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u20927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20927 {
  position:absolute;
  left:1343px;
  top:352px;
  width:34px;
  height:16px;
  color:#999999;
}
#u20928 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u20929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
}
#u20929 {
  position:absolute;
  left:1381px;
  top:354px;
  width:8px;
  height:12px;
}
#u20930 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20931_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:170px;
  height:57px;
}
#u20931 {
  position:absolute;
  left:611px;
  top:881px;
  width:160px;
  height:47px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u20932 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u20933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:32px;
}
#u20933 {
  position:absolute;
  left:609px;
  top:839px;
  width:453px;
  height:32px;
  font-size:14px;
}
#u20934 {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  word-wrap:break-word;
}
#u20935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:16px;
}
#u20935 {
  position:absolute;
  left:611px;
  top:959px;
  width:286px;
  height:16px;
  font-size:14px;
}
#u20936 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  white-space:nowrap;
}
#u20937_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:170px;
  height:57px;
}
#u20937 {
  position:absolute;
  left:611px;
  top:997px;
  width:160px;
  height:47px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u20938 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u20939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20939 {
  position:absolute;
  left:196px;
  top:494px;
  width:188px;
  height:16px;
  color:#999999;
}
#u20940 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u20941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20941 {
  position:absolute;
  left:609px;
  top:774px;
  width:354px;
  height:16px;
}
#u20942 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  word-wrap:break-word;
}
