body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:547px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18483 {
  position:absolute;
  left:171px;
  top:101px;
  width:376px;
  height:667px;
}
#u18484 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u18485 {
  position:absolute;
  left:171px;
  top:119px;
  width:375px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u18486 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u18487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u18487 {
  position:absolute;
  left:174px;
  top:129px;
  width:32px;
  height:32px;
}
#u18488 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18487_ann {
  position:absolute;
  left:199px;
  top:125px;
  width:1px;
  height:1px;
}
#u18490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u18490 {
  position:absolute;
  left:171px;
  top:101px;
  width:375px;
  height:20px;
}
#u18491 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:16px;
}
#u18492 {
  position:absolute;
  left:182px;
  top:103px;
  width:353px;
  height:16px;
}
#u18493 {
  position:absolute;
  left:2px;
  top:0px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18494 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u18495 {
  position:absolute;
  left:290px;
  top:413px;
  width:164px;
  height:30px;
  color:#999999;
}
#u18496 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u18497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:58px;
}
#u18497 {
  position:absolute;
  left:327px;
  top:327px;
  width:63px;
  height:57px;
  color:#999999;
}
#u18498 {
  position:absolute;
  left:2px;
  top:21px;
  width:59px;
  word-wrap:break-word;
}
