body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2211px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24005 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:180px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24006 {
  position:absolute;
  left:110px;
  top:181px;
  width:342px;
  height:180px;
}
#u24007 {
  position:absolute;
  left:2px;
  top:82px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24008 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u24009 {
  position:absolute;
  left:179px;
  top:226px;
  width:217px;
  height:98px;
  color:#666666;
  text-align:left;
}
#u24010 {
  position:absolute;
  left:2px;
  top:41px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u24011 {
  position:absolute;
  left:189px;
  top:237px;
  width:121px;
  height:16px;
  font-size:13px;
}
#u24012 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u24013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u24013 {
  position:absolute;
  left:350px;
  top:258px;
  width:38px;
  height:38px;
  font-size:11px;
}
#u24014 {
  position:absolute;
  left:2px;
  top:13px;
  width:34px;
  word-wrap:break-word;
}
#u24015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:26px;
}
#u24015 {
  position:absolute;
  left:189px;
  top:259px;
  width:143px;
  height:26px;
  font-size:10px;
  color:#999999;
}
#u24016 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u24017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:2px;
}
#u24017 {
  position:absolute;
  left:180px;
  top:304px;
  width:215px;
  height:1px;
}
#u24018 {
  position:absolute;
  left:2px;
  top:-8px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24019 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24020 {
  position:absolute;
  left:189px;
  top:309px;
  width:10px;
  height:10px;
}
#u24021 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN Regular', '思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#AEAEAE;
}
#u24022 {
  position:absolute;
  left:203px;
  top:310px;
  width:27px;
  height:10px;
  font-family:'思源黑体 CN Regular', '思源黑体 CN';
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#AEAEAE;
}
#u24023 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u24024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u24024 {
  position:absolute;
  left:126px;
  top:227px;
  width:39px;
  height:39px;
}
#u24025 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24026 {
  position:absolute;
  left:110px;
  top:155px;
  width:106px;
  height:16px;
}
#u24027 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u24028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:386px;
}
#u24028 {
  position:absolute;
  left:110px;
  top:418px;
  width:342px;
  height:386px;
}
#u24029 {
  position:absolute;
  left:2px;
  top:185px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24030 {
  position:absolute;
  left:110px;
  top:391px;
  width:232px;
  height:16px;
}
#u24031 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u24032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24032 {
  position:absolute;
  left:171px;
  top:561px;
  width:145px;
  height:33px;
}
#u24033 {
  position:absolute;
  left:2px;
  top:8px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u24034 {
  position:absolute;
  left:178px;
  top:567px;
  width:179px;
  height:16px;
  font-size:13px;
}
#u24035 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u24036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u24036 {
  position:absolute;
  left:110px;
  top:121px;
  width:278px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u24037 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u24038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u24038 {
  position:absolute;
  left:130px;
  top:556px;
  width:38px;
  height:38px;
  font-size:11px;
}
#u24039 {
  position:absolute;
  left:2px;
  top:13px;
  width:34px;
  word-wrap:break-word;
}
#u24040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u24040 {
  position:absolute;
  left:382px;
  top:237px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u24041 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u24042 {
  position:absolute;
  left:305px;
  top:565px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u24043 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:943px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24044 {
  position:absolute;
  left:837px;
  top:252px;
  width:375px;
  height:943px;
}
#u24045 {
  position:absolute;
  left:2px;
  top:464px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u24046 {
  position:absolute;
  left:837px;
  top:270px;
  width:375px;
  height:44px;
}
#u24047 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:38px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u24048 {
  position:absolute;
  left:862px;
  top:295px;
  width:45px;
  height:38px;
  color:#FFFFFF;
}
#u24049 {
  position:absolute;
  left:2px;
  top:12px;
  width:41px;
  word-wrap:break-word;
}
#u24050 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24051 {
  position:absolute;
  left:862px;
  top:435px;
  width:326px;
  height:100px;
}
#u24052 {
  position:absolute;
  left:2px;
  top:42px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24053 {
  position:absolute;
  left:874px;
  top:441px;
  width:304px;
  height:39px;
}
#u24053_input {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:39px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u24053_ann {
  position:absolute;
  left:1171px;
  top:437px;
  width:1px;
  height:1px;
}
#u24054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u24054 {
  position:absolute;
  left:862px;
  top:486px;
  width:326px;
  height:1px;
  color:#E4E4E4;
}
#u24055 {
  position:absolute;
  left:2px;
  top:-8px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u24056 {
  position:absolute;
  left:862px;
  top:534px;
  width:326px;
  height:1px;
  color:#E4E4E4;
}
#u24057 {
  position:absolute;
  left:2px;
  top:-8px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24058 {
  position:absolute;
  left:874px;
  top:491px;
  width:303px;
  height:39px;
}
#u24058_input {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:39px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u24059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u24059 {
  position:absolute;
  left:862px;
  top:562px;
  width:326px;
  height:40px;
  font-size:16px;
}
#u24060 {
  position:absolute;
  left:2px;
  top:9px;
  width:322px;
  word-wrap:break-word;
}
#u24061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24061 {
  position:absolute;
  left:1095px;
  top:510px;
  width:86px;
  height:33px;
}
#u24062 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u24063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24063 {
  position:absolute;
  left:837px;
  top:662px;
  width:375px;
  height:170px;
}
#u24064 {
  position:absolute;
  left:2px;
  top:77px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:87px;
}
#u24065 {
  position:absolute;
  left:837px;
  top:183px;
  width:374px;
  height:87px;
}
#u24066 {
  position:absolute;
  left:2px;
  top:36px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u24067 {
  position:absolute;
  left:837px;
  top:981px;
  width:375px;
  height:1px;
}
#u24068 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24070 {
  position:absolute;
  left:837px;
  top:1327px;
  width:86px;
  height:33px;
}
#u24071 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u24072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u24072 {
  position:absolute;
  left:837px;
  top:1251px;
  width:103px;
  height:16px;
  color:#FF0000;
}
#u24073 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u24074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24074 {
  position:absolute;
  left:837px;
  top:1288px;
  width:113px;
  height:32px;
}
#u24075 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u24076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24076 {
  position:absolute;
  left:998px;
  top:1327px;
  width:86px;
  height:33px;
}
#u24077 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u24078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24078 {
  position:absolute;
  left:992px;
  top:1288px;
  width:143px;
  height:16px;
}
#u24079 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u24080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24080 {
  position:absolute;
  left:1196px;
  top:1327px;
  width:86px;
  height:33px;
}
#u24081 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u24082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24082 {
  position:absolute;
  left:1195px;
  top:1285px;
  width:227px;
  height:32px;
}
#u24083 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u24084 {
  position:absolute;
  left:923px;
  top:1344px;
  width:0px;
  height:0px;
}
#u24084_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u24084_seg1 {
  position:absolute;
  left:61px;
  top:-10px;
  width:21px;
  height:20px;
}
#u24085 {
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24086 {
  position:absolute;
  left:1084px;
  top:1344px;
  width:0px;
  height:0px;
}
#u24086_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:116px;
  height:8px;
}
#u24086_seg1 {
  position:absolute;
  left:98px;
  top:-10px;
  width:21px;
  height:20px;
}
#u24087 {
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24088 {
  position:absolute;
  left:1239px;
  top:1360px;
  width:0px;
  height:0px;
}
#u24088_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:19px;
}
#u24088_seg1 {
  position:absolute;
  left:-202px;
  top:11px;
  width:206px;
  height:8px;
}
#u24088_seg2 {
  position:absolute;
  left:-202px;
  top:0px;
  width:8px;
  height:19px;
}
#u24088_seg3 {
  position:absolute;
  left:-208px;
  top:-7px;
  width:20px;
  height:21px;
}
#u24089 {
  position:absolute;
  left:-149px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u24090 {
  position:absolute;
  left:1257px;
  top:410px;
  width:8px;
  height:16px;
  color:#FF0000;
}
#u24091 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  visibility:hidden;
  white-space:nowrap;
}
#u24092 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:16px;
}
#u24093 {
  position:absolute;
  left:837px;
  top:1472px;
  width:278px;
  height:16px;
  font-size:14px;
}
#u24094 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  white-space:nowrap;
}
#u24095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u24095 {
  position:absolute;
  left:837px;
  top:1434px;
  width:103px;
  height:16px;
  color:#FF0000;
}
#u24096 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u24097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.447058823529412);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24097 {
  position:absolute;
  left:837px;
  top:1498px;
  width:140px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24098 {
  position:absolute;
  left:2px;
  top:18px;
  width:136px;
  word-wrap:break-word;
}
#u24099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:32px;
}
#u24099 {
  position:absolute;
  left:837px;
  top:1571px;
  width:443px;
  height:32px;
  font-size:14px;
}
#u24100 {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  white-space:nowrap;
}
#u24101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.447058823529412);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24101 {
  position:absolute;
  left:837px;
  top:1613px;
  width:140px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24102 {
  position:absolute;
  left:2px;
  top:18px;
  width:136px;
  word-wrap:break-word;
}
#u24103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:16px;
}
#u24103 {
  position:absolute;
  left:837px;
  top:1687px;
  width:278px;
  height:16px;
  font-size:14px;
}
#u24104 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  white-space:nowrap;
}
#u24105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.447058823529412);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24105 {
  position:absolute;
  left:837px;
  top:1713px;
  width:140px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24106 {
  position:absolute;
  left:2px;
  top:18px;
  width:136px;
  word-wrap:break-word;
}
#u24107 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u24108 {
  position:absolute;
  left:1311px;
  top:1506px;
  width:326px;
  height:40px;
  font-size:16px;
}
#u24109 {
  position:absolute;
  left:2px;
  top:9px;
  width:322px;
  word-wrap:break-word;
}
#u24110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u24110 {
  position:absolute;
  left:1311px;
  top:1586px;
  width:326px;
  height:40px;
  font-size:16px;
}
#u24111 {
  position:absolute;
  left:2px;
  top:9px;
  width:322px;
  word-wrap:break-word;
}
#u24112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u24112 {
  position:absolute;
  left:1311px;
  top:1436px;
  width:99px;
  height:16px;
  color:#FF0000;
}
#u24113 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u24114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:40px;
  background:inherit;
  background-color:rgba(16, 116, 158, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u24114 {
  position:absolute;
  left:1311px;
  top:1663px;
  width:326px;
  height:40px;
  font-size:16px;
}
#u24115 {
  position:absolute;
  left:2px;
  top:9px;
  width:322px;
  word-wrap:break-word;
}
#u24116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
}
#u24116 {
  position:absolute;
  left:1311px;
  top:1474px;
  width:253px;
  height:16px;
  font-size:14px;
}
#u24117 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u24118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
}
#u24118 {
  position:absolute;
  left:1311px;
  top:1560px;
  width:225px;
  height:16px;
  font-size:14px;
}
#u24119 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u24120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u24120 {
  position:absolute;
  left:1311px;
  top:1640px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u24121 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24122 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.447058823529412);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24123 {
  position:absolute;
  left:1689px;
  top:1725px;
  width:194px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24124 {
  position:absolute;
  left:2px;
  top:18px;
  width:190px;
  word-wrap:break-word;
}
#u24125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:16px;
}
#u24125 {
  position:absolute;
  left:1689px;
  top:1699px;
  width:348px;
  height:16px;
  font-size:14px;
}
#u24126 {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  white-space:nowrap;
}
#u24127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u24127 {
  position:absolute;
  left:1689px;
  top:1428px;
  width:277px;
  height:32px;
  color:#FF0000;
}
#u24128 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u24129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.447058823529412);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24129 {
  position:absolute;
  left:1689px;
  top:1501px;
  width:140px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24130 {
  position:absolute;
  left:2px;
  top:18px;
  width:136px;
  word-wrap:break-word;
}
#u24131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:16px;
}
#u24131 {
  position:absolute;
  left:1689px;
  top:1475px;
  width:306px;
  height:16px;
  font-size:14px;
}
#u24132 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  white-space:nowrap;
}
#u24133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.447058823529412);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24133 {
  position:absolute;
  left:1689px;
  top:1615px;
  width:173px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24134 {
  position:absolute;
  left:2px;
  top:18px;
  width:169px;
  word-wrap:break-word;
}
#u24135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:16px;
}
#u24135 {
  position:absolute;
  left:1689px;
  top:1589px;
  width:306px;
  height:16px;
  font-size:14px;
}
#u24136 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  white-space:nowrap;
}
#u24137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u24137 {
  position:absolute;
  left:1689px;
  top:1850px;
  width:15px;
  height:16px;
  font-size:14px;
}
#u24138 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u24140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24141 {
  position:absolute;
  left:1689px;
  top:1934px;
  width:326px;
  height:52px;
}
#u24142 {
  position:absolute;
  left:2px;
  top:18px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24143 {
  position:absolute;
  left:1702px;
  top:1940px;
  width:303px;
  height:39px;
}
#u24143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:39px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u24144 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u24145 {
  position:absolute;
  left:1978px;
  top:1949px;
  width:21px;
  height:21px;
}
#u24146 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u24147 {
  position:absolute;
  left:1984px;
  top:1955px;
  width:9px;
  height:9px;
}
#u24148 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u24149 {
  position:absolute;
  left:1689px;
  top:1836px;
  width:113px;
  height:16px;
  color:#FF0000;
}
#u24150 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u24151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u24151 {
  position:absolute;
  left:1689px;
  top:1868px;
  width:300px;
  height:48px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u24152 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u24154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24154 {
  position:absolute;
  left:837px;
  top:1327px;
  width:86px;
  height:33px;
}
#u24155 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u24156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u24156 {
  position:absolute;
  left:837px;
  top:1251px;
  width:103px;
  height:16px;
  color:#FF0000;
}
#u24157 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u24158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24158 {
  position:absolute;
  left:837px;
  top:1288px;
  width:113px;
  height:32px;
}
#u24159 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u24160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24160 {
  position:absolute;
  left:998px;
  top:1327px;
  width:86px;
  height:33px;
}
#u24161 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u24162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24162 {
  position:absolute;
  left:992px;
  top:1288px;
  width:143px;
  height:16px;
}
#u24163 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u24164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24164 {
  position:absolute;
  left:1196px;
  top:1327px;
  width:86px;
  height:33px;
}
#u24165 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u24166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24166 {
  position:absolute;
  left:1195px;
  top:1285px;
  width:227px;
  height:32px;
}
#u24167 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u24168 {
  position:absolute;
  left:923px;
  top:1344px;
  width:0px;
  height:0px;
}
#u24168_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u24168_seg1 {
  position:absolute;
  left:61px;
  top:-10px;
  width:21px;
  height:20px;
}
#u24169 {
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24170 {
  position:absolute;
  left:1084px;
  top:1344px;
  width:0px;
  height:0px;
}
#u24170_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:116px;
  height:8px;
}
#u24170_seg1 {
  position:absolute;
  left:98px;
  top:-10px;
  width:21px;
  height:20px;
}
#u24171 {
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24172 {
  position:absolute;
  left:1239px;
  top:1360px;
  width:0px;
  height:0px;
}
#u24172_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:19px;
}
#u24172_seg1 {
  position:absolute;
  left:-202px;
  top:11px;
  width:206px;
  height:8px;
}
#u24172_seg2 {
  position:absolute;
  left:-202px;
  top:0px;
  width:8px;
  height:19px;
}
#u24172_seg3 {
  position:absolute;
  left:-208px;
  top:-7px;
  width:20px;
  height:21px;
}
#u24173 {
  position:absolute;
  left:-149px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:943px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24174 {
  position:absolute;
  left:1357px;
  top:252px;
  width:375px;
  height:943px;
}
#u24175 {
  position:absolute;
  left:2px;
  top:464px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u24176 {
  position:absolute;
  left:1357px;
  top:270px;
  width:375px;
  height:44px;
}
#u24177 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:38px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u24178 {
  position:absolute;
  left:1370px;
  top:296px;
  width:45px;
  height:38px;
  color:#FFFFFF;
}
#u24179 {
  position:absolute;
  left:2px;
  top:12px;
  width:41px;
  word-wrap:break-word;
}
#u24180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u24180 {
  position:absolute;
  left:1382px;
  top:469px;
  width:326px;
  height:40px;
  font-size:16px;
}
#u24181 {
  position:absolute;
  left:2px;
  top:9px;
  width:322px;
  word-wrap:break-word;
}
#u24182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:87px;
}
#u24182 {
  position:absolute;
  left:1357px;
  top:183px;
  width:374px;
  height:87px;
}
#u24183 {
  position:absolute;
  left:2px;
  top:36px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24184 {
  position:absolute;
  left:1445px;
  top:435px;
  width:201px;
  height:16px;
}
#u24185 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u24186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24186 {
  position:absolute;
  left:1357px;
  top:662px;
  width:375px;
  height:170px;
}
#u24187 {
  position:absolute;
  left:2px;
  top:77px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u24188 {
  position:absolute;
  left:1357px;
  top:981px;
  width:375px;
  height:1px;
}
#u24189 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:2px;
}
#u24190 {
  position:absolute;
  left:1708px;
  top:493px;
  width:68px;
  height:1px;
}
#u24191 {
  position:absolute;
  left:2px;
  top:-8px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24192 {
  position:absolute;
  left:1786px;
  top:486px;
  width:425px;
  height:57px;
}
#u24193 {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  word-wrap:break-word;
}
#u24194 {
  position:absolute;
  left:1212px;
  top:724px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u24194_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:149px;
  height:8px;
}
#u24194_seg1 {
  position:absolute;
  left:131px;
  top:-10px;
  width:21px;
  height:20px;
}
#u24195 {
  position:absolute;
  left:22px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u24196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:39px;
}
#u24196 {
  position:absolute;
  left:875px;
  top:1137px;
  width:306px;
  height:39px;
  color:#FFFFFF;
}
#u24197 {
  position:absolute;
  left:2px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
#u24198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:39px;
}
#u24198 {
  position:absolute;
  left:1402px;
  top:1137px;
  width:306px;
  height:39px;
  color:#FFFFFF;
}
#u24199 {
  position:absolute;
  left:2px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
#u24200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u24200 {
  position:absolute;
  left:976px;
  top:299px;
  width:136px;
  height:36px;
  font-size:28px;
}
#u24201 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u24202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:176px;
}
#u24202 {
  position:absolute;
  left:935px;
  top:728px;
  width:330px;
  height:176px;
}
#u24203 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u24204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:176px;
}
#u24204 {
  position:absolute;
  left:1445px;
  top:728px;
  width:373px;
  height:176px;
}
#u24205 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  word-wrap:break-word;
}
#u24206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u24206 {
  position:absolute;
  left:1761px;
  top:2118px;
  width:200px;
  height:1px;
}
#u24207 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
}
#u24208 {
  position:absolute;
  left:482px;
  top:239px;
  width:300px;
  height:32px;
}
#u24209 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u24210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u24210 {
  position:absolute;
  left:1501px;
  top:299px;
  width:136px;
  height:36px;
  font-size:28px;
}
#u24211 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
