body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1425px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23080 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:737px;
}
#u23081 {
  position:absolute;
  left:177px;
  top:101px;
  width:375px;
  height:737px;
  opacity:0.4;
}
#u23082 {
  position:absolute;
  left:2px;
  top:360px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23083 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23084 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23085 {
  position:absolute;
  left:204px;
  top:371px;
  width:320px;
  height:127px;
}
#u23086 {
  position:absolute;
  left:2px;
  top:56px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u23087 {
  position:absolute;
  left:204px;
  top:447px;
  width:320px;
  height:1px;
}
#u23088 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u23089 {
  position:absolute;
  left:363px;
  top:448px;
  width:1px;
  height:50px;
}
#u23090 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#5CBFEF;
}
#u23091 {
  position:absolute;
  left:268px;
  top:464px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#5CBFEF;
}
#u23092 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u23093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5CBFEF;
}
#u23093 {
  position:absolute;
  left:428px;
  top:464px;
  width:33px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5CBFEF;
}
#u23094 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u23095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u23095 {
  position:absolute;
  left:289px;
  top:404px;
  width:151px;
  height:17px;
  font-size:15px;
}
#u23096 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u23097 {
  position:absolute;
  left:364px;
  top:448px;
  width:161px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23097_ann {
  position:absolute;
  left:518px;
  top:444px;
  width:1px;
  height:1px;
}
#u23098 {
  position:absolute;
  left:204px;
  top:448px;
  width:161px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23098_ann {
  position:absolute;
  left:358px;
  top:444px;
  width:1px;
  height:1px;
}
#u23099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23099 {
  position:absolute;
  left:1004px;
  top:137px;
  width:390px;
  height:61px;
}
#u23100 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u23101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:737px;
  background:inherit;
  background-color:rgba(247, 246, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23101 {
  position:absolute;
  left:177px;
  top:101px;
  width:375px;
  height:737px;
}
#u23102 {
  position:absolute;
  left:2px;
  top:360px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u23103 {
  position:absolute;
  left:177px;
  top:119px;
  width:375px;
  height:44px;
  font-size:16px;
  color:#FFFFFF;
}
#u23104 {
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u23106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u23106 {
  position:absolute;
  left:177px;
  top:101px;
  width:375px;
  height:20px;
}
#u23107 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:16px;
}
#u23108 {
  position:absolute;
  left:188px;
  top:103px;
  width:353px;
  height:16px;
}
#u23109 {
  position:absolute;
  left:2px;
  top:0px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u23110 {
  position:absolute;
  left:194px;
  top:133px;
  width:11px;
  height:19px;
}
#u23111 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23110_ann {
  position:absolute;
  left:198px;
  top:129px;
  width:1px;
  height:1px;
}
#u23112 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23113 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23114 {
  position:absolute;
  left:178px;
  top:214px;
  width:373px;
  height:107px;
}
#u23115 {
  position:absolute;
  left:2px;
  top:46px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u23116 {
  position:absolute;
  left:191px;
  top:281px;
  width:342px;
  height:1px;
}
#u23117 {
  position:absolute;
  left:2px;
  top:-8px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23118 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u23119 {
  position:absolute;
  left:433px;
  top:293px;
  width:15px;
  height:15px;
}
#u23120 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u23121 {
  position:absolute;
  left:449px;
  top:293px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u23122 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23123 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u23124 {
  position:absolute;
  left:484px;
  top:292px;
  width:17px;
  height:17px;
}
#u23125 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u23126 {
  position:absolute;
  left:501px;
  top:293px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u23127 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23126_ann {
  position:absolute;
  left:519px;
  top:289px;
  width:1px;
  height:1px;
}
#u23128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23128 {
  position:absolute;
  left:194px;
  top:226px;
  width:215px;
  height:16px;
}
#u23129 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u23130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23130 {
  position:absolute;
  left:194px;
  top:252px;
  width:215px;
  height:16px;
}
#u23131 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u23132 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u23133 {
  position:absolute;
  left:194px;
  top:293px;
  width:15px;
  height:15px;
}
#u23134 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#50B8EB;
}
#u23135 {
  position:absolute;
  left:214px;
  top:293px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#50B8EB;
}
#u23136 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u23135_ann {
  position:absolute;
  left:256px;
  top:289px;
  width:1px;
  height:1px;
}
#u23137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(74, 183, 237, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#4AB7ED;
}
#u23137 {
  position:absolute;
  left:202px;
  top:778px;
  width:326px;
  height:40px;
  font-size:14px;
  color:#4AB7ED;
}
#u23137_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:40px;
  background:inherit;
  background-color:rgba(74, 183, 237, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(74, 183, 237, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#4AB7ED;
}
#u23137.mouseDown {
}
#u23138 {
  position:absolute;
  left:2px;
  top:10px;
  width:322px;
  word-wrap:break-word;
}
#u23137_ann {
  position:absolute;
  left:521px;
  top:774px;
  width:1px;
  height:1px;
}
#u23139 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23141 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23142 {
  position:absolute;
  left:178px;
  top:331px;
  width:373px;
  height:107px;
}
#u23143 {
  position:absolute;
  left:2px;
  top:46px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u23144 {
  position:absolute;
  left:191px;
  top:398px;
  width:342px;
  height:1px;
}
#u23145 {
  position:absolute;
  left:2px;
  top:-8px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23146 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u23147 {
  position:absolute;
  left:433px;
  top:410px;
  width:15px;
  height:15px;
}
#u23148 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u23149 {
  position:absolute;
  left:449px;
  top:410px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u23150 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23151 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u23152 {
  position:absolute;
  left:484px;
  top:409px;
  width:17px;
  height:17px;
}
#u23153 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u23154 {
  position:absolute;
  left:501px;
  top:410px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u23155 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23156 {
  position:absolute;
  left:194px;
  top:343px;
  width:295px;
  height:16px;
}
#u23157 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  word-wrap:break-word;
}
#u23158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23158 {
  position:absolute;
  left:194px;
  top:369px;
  width:215px;
  height:16px;
}
#u23159 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u23160 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u23161 {
  position:absolute;
  left:196px;
  top:411px;
  width:15px;
  height:15px;
}
#u23162 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u23163 {
  position:absolute;
  left:215px;
  top:411px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u23164 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u23165 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u23166 {
  position:absolute;
  left:1086px;
  top:229px;
  width:198px;
  height:30px;
  color:#999999;
}
#u23167 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u23168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:58px;
}
#u23168 {
  position:absolute;
  left:1004px;
  top:208px;
  width:63px;
  height:57px;
  color:#999999;
}
#u23169 {
  position:absolute;
  left:2px;
  top:21px;
  width:59px;
  word-wrap:break-word;
}
#u23170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:64px;
}
#u23170 {
  position:absolute;
  left:1004px;
  top:387px;
  width:421px;
  height:64px;
  font-size:14px;
  color:#1E1E1E;
}
#u23171 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  word-wrap:break-word;
}
#u23172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:32px;
}
#u23172 {
  position:absolute;
  left:1004px;
  top:331px;
  width:421px;
  height:32px;
  font-size:14px;
  color:#1E1E1E;
}
#u23173 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  word-wrap:break-word;
}
#u23174 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23175 {
  position:absolute;
  left:178px;
  top:162px;
  width:373px;
  height:42px;
}
#u23176 {
  position:absolute;
  left:2px;
  top:13px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5CBFEF;
}
#u23177 {
  position:absolute;
  left:221px;
  top:175px;
  width:99px;
  height:16px;
  color:#5CBFEF;
}
#u23178 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u23179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u23179 {
  position:absolute;
  left:406px;
  top:175px;
  width:99px;
  height:16px;
  color:#666666;
}
#u23180 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u23181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u23181 {
  position:absolute;
  left:364px;
  top:173px;
  width:1px;
  height:20px;
}
#u23182 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:4px;
}
#u23183 {
  position:absolute;
  left:207px;
  top:200px;
  width:127px;
  height:4px;
}
#u23184 {
  position:absolute;
  left:2px;
  top:-6px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u23185 {
  position:absolute;
  left:178px;
  top:203px;
  width:373px;
  height:1px;
}
#u23186 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23187 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:737px;
}
#u23188 {
  position:absolute;
  left:589px;
  top:101px;
  width:375px;
  height:737px;
  opacity:0.4;
}
#u23189 {
  position:absolute;
  left:2px;
  top:360px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23190 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23191 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23192 {
  position:absolute;
  left:616px;
  top:371px;
  width:320px;
  height:127px;
}
#u23193 {
  position:absolute;
  left:2px;
  top:56px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u23194 {
  position:absolute;
  left:616px;
  top:447px;
  width:320px;
  height:1px;
}
#u23195 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u23196 {
  position:absolute;
  left:775px;
  top:448px;
  width:1px;
  height:50px;
}
#u23197 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#5CBFEF;
}
#u23198 {
  position:absolute;
  left:680px;
  top:464px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#5CBFEF;
}
#u23199 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u23200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5CBFEF;
}
#u23200 {
  position:absolute;
  left:840px;
  top:464px;
  width:33px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5CBFEF;
}
#u23201 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u23202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u23202 {
  position:absolute;
  left:701px;
  top:404px;
  width:151px;
  height:17px;
  font-size:15px;
}
#u23203 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u23204 {
  position:absolute;
  left:776px;
  top:448px;
  width:161px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23204_ann {
  position:absolute;
  left:930px;
  top:444px;
  width:1px;
  height:1px;
}
#u23205 {
  position:absolute;
  left:616px;
  top:448px;
  width:161px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23205_ann {
  position:absolute;
  left:770px;
  top:444px;
  width:1px;
  height:1px;
}
#u23206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:737px;
  background:inherit;
  background-color:rgba(247, 246, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23206 {
  position:absolute;
  left:589px;
  top:101px;
  width:375px;
  height:737px;
}
#u23207 {
  position:absolute;
  left:2px;
  top:360px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u23208 {
  position:absolute;
  left:589px;
  top:119px;
  width:375px;
  height:44px;
  font-size:16px;
  color:#FFFFFF;
}
#u23209 {
  position:absolute;
  left:2px;
  top:11px;
  width:371px;
  word-wrap:break-word;
}
#u23211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u23211 {
  position:absolute;
  left:589px;
  top:101px;
  width:375px;
  height:20px;
}
#u23212 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:16px;
}
#u23213 {
  position:absolute;
  left:600px;
  top:103px;
  width:353px;
  height:16px;
}
#u23214 {
  position:absolute;
  left:2px;
  top:0px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u23215 {
  position:absolute;
  left:606px;
  top:133px;
  width:11px;
  height:19px;
}
#u23216 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23215_ann {
  position:absolute;
  left:610px;
  top:129px;
  width:1px;
  height:1px;
}
#u23217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(74, 183, 237, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#4AB7ED;
}
#u23217 {
  position:absolute;
  left:614px;
  top:778px;
  width:326px;
  height:40px;
  font-size:14px;
  color:#4AB7ED;
}
#u23217_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:40px;
  background:inherit;
  background-color:rgba(74, 183, 237, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(74, 183, 237, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#4AB7ED;
}
#u23217.mouseDown {
}
#u23218 {
  position:absolute;
  left:2px;
  top:10px;
  width:322px;
  word-wrap:break-word;
}
#u23217_ann {
  position:absolute;
  left:933px;
  top:774px;
  width:1px;
  height:1px;
}
#u23219 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23220 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23221 {
  position:absolute;
  left:590px;
  top:448px;
  width:373px;
  height:107px;
}
#u23222 {
  position:absolute;
  left:2px;
  top:46px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u23223 {
  position:absolute;
  left:603px;
  top:515px;
  width:342px;
  height:1px;
}
#u23224 {
  position:absolute;
  left:2px;
  top:-8px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23225 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u23226 {
  position:absolute;
  left:896px;
  top:526px;
  width:17px;
  height:17px;
}
#u23227 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u23228 {
  position:absolute;
  left:913px;
  top:527px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u23229 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23230 {
  position:absolute;
  left:606px;
  top:460px;
  width:295px;
  height:16px;
}
#u23231 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  word-wrap:break-word;
}
#u23232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23232 {
  position:absolute;
  left:606px;
  top:486px;
  width:215px;
  height:16px;
}
#u23233 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u23234 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u23235 {
  position:absolute;
  left:845px;
  top:527px;
  width:15px;
  height:15px;
}
#u23236 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u23237 {
  position:absolute;
  left:861px;
  top:527px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u23238 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23239 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u23240 {
  position:absolute;
  left:625px;
  top:526px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u23241 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u23242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u23242 {
  position:absolute;
  left:606px;
  top:526px;
  width:15px;
  height:15px;
}
#u23243 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23244 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23245 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23246 {
  position:absolute;
  left:590px;
  top:331px;
  width:373px;
  height:107px;
}
#u23247 {
  position:absolute;
  left:2px;
  top:46px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u23248 {
  position:absolute;
  left:603px;
  top:398px;
  width:342px;
  height:1px;
}
#u23249 {
  position:absolute;
  left:2px;
  top:-8px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23250 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u23251 {
  position:absolute;
  left:896px;
  top:409px;
  width:17px;
  height:17px;
}
#u23252 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u23253 {
  position:absolute;
  left:913px;
  top:410px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u23254 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23255 {
  position:absolute;
  left:606px;
  top:343px;
  width:215px;
  height:16px;
}
#u23256 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u23257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23257 {
  position:absolute;
  left:606px;
  top:369px;
  width:215px;
  height:16px;
}
#u23258 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u23259 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u23260 {
  position:absolute;
  left:627px;
  top:411px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u23261 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u23262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u23262 {
  position:absolute;
  left:608px;
  top:411px;
  width:15px;
  height:15px;
}
#u23263 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23264 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u23265 {
  position:absolute;
  left:845px;
  top:409px;
  width:15px;
  height:15px;
}
#u23266 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u23267 {
  position:absolute;
  left:861px;
  top:409px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u23268 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23269 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23270 {
  position:absolute;
  left:590px;
  top:162px;
  width:373px;
  height:42px;
}
#u23271 {
  position:absolute;
  left:2px;
  top:13px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u23272 {
  position:absolute;
  left:633px;
  top:175px;
  width:99px;
  height:16px;
  color:#666666;
}
#u23273 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u23274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4AB7ED;
}
#u23274 {
  position:absolute;
  left:818px;
  top:175px;
  width:99px;
  height:16px;
  color:#4AB7ED;
}
#u23275 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u23276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u23276 {
  position:absolute;
  left:776px;
  top:173px;
  width:1px;
  height:20px;
}
#u23277 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:4px;
}
#u23278 {
  position:absolute;
  left:804px;
  top:200px;
  width:127px;
  height:4px;
}
#u23279 {
  position:absolute;
  left:2px;
  top:-6px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u23280 {
  position:absolute;
  left:590px;
  top:203px;
  width:373px;
  height:1px;
}
#u23281 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23282 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23283 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23284 {
  position:absolute;
  left:590px;
  top:214px;
  width:373px;
  height:107px;
}
#u23285 {
  position:absolute;
  left:2px;
  top:46px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u23286 {
  position:absolute;
  left:603px;
  top:281px;
  width:342px;
  height:1px;
}
#u23287 {
  position:absolute;
  left:2px;
  top:-8px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23288 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u23289 {
  position:absolute;
  left:896px;
  top:292px;
  width:17px;
  height:17px;
}
#u23290 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u23291 {
  position:absolute;
  left:913px;
  top:293px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u23292 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23291_ann {
  position:absolute;
  left:931px;
  top:289px;
  width:1px;
  height:1px;
}
#u23293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23293 {
  position:absolute;
  left:606px;
  top:226px;
  width:215px;
  height:16px;
}
#u23294 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u23295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23295 {
  position:absolute;
  left:606px;
  top:252px;
  width:215px;
  height:16px;
}
#u23296 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u23297 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u23298 {
  position:absolute;
  left:606px;
  top:293px;
  width:15px;
  height:15px;
}
#u23299 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#50B8EB;
}
#u23300 {
  position:absolute;
  left:626px;
  top:293px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#50B8EB;
}
#u23301 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u23302 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u23303 {
  position:absolute;
  left:845px;
  top:292px;
  width:15px;
  height:15px;
}
#u23304 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u23305 {
  position:absolute;
  left:861px;
  top:292px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u23306 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:16px;
}
#u23307 {
  position:absolute;
  left:1004px;
  top:281px;
  width:175px;
  height:16px;
  font-size:14px;
  color:#1E1E1E;
}
#u23308 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
